<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Shopping Cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{#ifCond user.role 'admin'}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                    </li>

                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carts">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Order</a>
                    </li>

                    {{/ifCond}}

                </ul>

            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{#if isAuthenticated}}

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link " href="/signin">Login</a>
                    </li>

                    {{/if}}
                </ul>
            </div>

        </div>


    </nav>
   
    {{#if products}}

    <nav class="navbar navbar-light">
        <!-- Navbar content -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
            </li>
            {{#each categories}}
            <li class="nav-item">
                <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
                    href="?categoryId={{this.id}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </nav>

    {{/if}}
 
    {{> messages}}
</div>